.nav {
	/* flex box layout */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 30px;
	background-color: #059e00;
	overflow: hidden;
}

.nav a {
	text-decoration: none;
}

.nav-title {
	font-size: 24px;
	font-weight: 700;
	color: #f2f2f2;
	padding-left: 10px;
	margin: 0;
    display: flex;
	justify-content: space-between;
    align-items: center;
}

.navLink {
	display: inline-block;
	color: #f2f2f2;
	background-color: #000000;
	text-align: center;
	padding: 24px 10px;
	text-decoration: none;
	font-size: 15px;

	/* these last two make the logout button in
  the nav bar look like another link */
	border: none;
	cursor: pointer;
	outline: 1;
}

.navLink:hover {
	background-color: #059e00;
}

.Nav-logo {
	height: 4vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.Nav-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes Nav-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
