.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 15px;
	background-color: #059e00;
	overflow: hidden;
}

.nav a {
	text-decoration: none;
}

.nav-title {
	font-size: 24px;
	font-weight: 700;
	color: #f2f2f2;
	margin: 0;
    display: flex;
	justify-content: space-between;
    align-items: center;
}

.navLink {
	display: inline-block;
	color: #f2f2f2;
	background-color: #000000;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	font-size: 14px;
	border: none;
	cursor: pointer;
	outline: 1;
}

.navLink:hover {
    color: #059e00;
}

.Nav-logo {
	height: 3.6vmin;
}

@media (prefers-reduced-motion: no-preference) {
	.Nav-logo {
		animation: Nav-logo-spin infinite 15s linear;
	}

}

@keyframes Nav-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
